<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <!-- Livereload bloquea el testeo de escalabilidad.-->
    <!-- script(src="http://localhost:35729/livereload.js")-->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/cryptico.min.js"></script>
    <script src="js/control/landing.js"></script>
    <title>Bienestar</title>
  </head>
  <body ng-app="app">
    <div ng-controller="landing" class="login-card">
      <h1>Log-in Bienestar</h1>
      <form ng-submit="is.submit()" name="isf" ng-hide="is.escojeRol" novalidate>
        <input required type="email" name="usuario" placeholder="Correo Electronico" ng-model="is.usuario">
        <div ng-show="isf.usuario.$error.email" class="login-help">Usuario no valido, debe ser un correo</div>
        <input required type="password" name="contrasena" placeholder="Contraseña" ng-model="is.contrasena" ng-minlength="5">
        <div ng-show="isf.contrasena.$error.minlength" class="login-help">Contraseña muy corta</div>
        <input type="submit" name="login" value="Iniciar sesión" ng-disabled="isf.$invalid" class="login login-submit">
        <div ng-show="is.isError" class="login-help">{{ is.error}}</div><a href="registro_general.html">Registrarse</a>
      </form>
      <div ng-show="is.escojeRol">
        <h2>Bienvenido {{usr}} ¿Qué rol deseas usar?</h2><a href="admin.html">Administrador</a><br><a href="usuario.html">Profesor o Estudiante</a>
      </div>
    </div>
    <script src="js/servicios/conexion.js"></script>
  </body>
</html>