//- index.jade
extends ./main
block variables
	- npApp = "app"

block devScriptHead
	script(src="js/servicios/conexion.js")
block scriptHead
	//- el nombre sería así
	script(src="js/a.js")
block devScriptBody
	script(src="js/control/admin.js")

block title
	title Bienestar - Administración

block content
	.login-card(
		ng-controller="admin"
	)
		h1 Administración
		button(
			ng-click="cerrarSesion()"
		) Cerrar sesión
