doctype html
html
  head
    meta(charset='UTF-8')
    title Error 500
    link(rel='stylesheet', href='../../gui/build/css/style.css')
  body
    .login-card
      h1 Error 500
      br
      form
        div(style='text-align: center')
            p Error interno del servidor
      .login-help
        a(href='index.html') Volver al inicio
