//- index.jade
extends ./main
block variables
	- npApp = "app"

block devScriptHead
	script(src="js/conexion/conexion.js")
block scriptHead
	//- el nombre sería así
	script(src="js/landing.js")
block devScriptBody
	script(src="js/control/landing.js")

block title
	title Bienestar

block content
	.login-card(
		ng-controller="landing"
      	)
		h1 Log-in Bienestar
		br
		form(
			ng-submit="iniciarSesion()"
		)
		input(type='text', name='usuario', placeholder='E-mail')
		input(type='password', name='contrasena', placeholder='Contraseña')
		input.login.login-submit(type='submit', name='login', value='Login')
		.login-help
		a(href	='#') Registrarse
		|  • 
		a(href='#') ¿Olvidó su contraseña?

