script(
	type="text/ng-template"
	id="lee-evento-tmplt"
)
	div(ng-show="taller")
		include lee_taller
	div(ng-hide="taller")
		include lee_convocatoria
	div(ng-show ="exitoso")
		div(ng-show="!eliminado")
			h2(ng-show="!crear") Evento actualizado exitosamente
			h2(ng-show="crear") Evento creado exitosamente
		h2(ng-show="eliminado") Evento eliminado exitosamente