/* -----------------------------------------------

	* Screen Style Sheet

	* Name: Transdmin Light
	
	* Coded by: Perspectived
	  http://www.perspectived.com

----------------------------------------------- */

/* CSS reset by Eric Meyer */
@import url("reset.css");
@import url("layout.css");

form {}

form input, form select {
	display: block;
	min-width: 30em;
	max-width: 60em;
}

form input[disabled] {
	border: none;
	background: none;
}